[user]
	name = doyoon.kim
	email = doyoonkim1002@gmail.com

[alias]
	g = git
	last = 'log -1 HEAD'
	ac = add .
	co = checkout
	cm = commit
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(cyan)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(yellow)%d%C(reset)' --all